n8n-workflows/archive/n8n-claude-webhook-workflow.json
{
  "name": "Claude Code Integration Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "claude-code-trigger",
        "responseMode": "responseNode"
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "executeCommand",
        "command": "cd {{ $json.repoPath }} && npm run build && npm run test"
      },
      "id": "run-tests",
      "name": "Run Tests & Build",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "model": "claude-3-5-sonnet-20241022",
        "messages": [
          {
            "role": "user",
            "content": "Analyze this repository for optimization opportunities:\n\nRepository: {{ $json.repoPath }}\nBuild Status: {{ $('Run Tests & Build').item.json.stdout }}\nTest Results: {{ $('Run Tests & Build').item.json.stderr }}\n\nPlease provide specific optimization recommendations."
          }
        ]
      },
      "id": "claude-analysis",
      "name": "Claude Analysis",
      "type": "n8n-nodes-base.anthropic",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "operation": "create",
        "owner": "{{ $json.githubOwner }}",
        "repository": "{{ $json.githubRepo }}",
        "title": "🤖 Claude Code Analysis - {{ new Date().toISOString().split('T')[0] }}",
        "body": "## Automated Code Analysis\n\n{{ $('Claude Analysis').item.json.content }}\n\n---\n*Generated by n8n + Claude Code integration*"
      },
      "id": "create-github-issue",
      "name": "Create GitHub Issue",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": {
          "status": "success",
          "analysis": "{{ $('Claude Analysis').item.json.content }}",
          "githubIssue": "{{ $('Create GitHub Issue').item.json.html_url }}"
        }
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Run Tests & Build",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Tests & Build": {
      "main": [
        [
          {
            "node": "Claude Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Analysis": {
      "main": [
        [
          {
            "node": "Create GitHub Issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create GitHub Issue": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "triggers": [
    {
      "id": "webhook-trigger"
    }
  ]
}