n8n-workflows/GetYourGuide_Email_Import_to_Supabase.json
{
  "name": "GetYourGuide Email Import to Supabase",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "mailbox": "INBOX",
        "postProcessAction": "read",
        "options": {
          "customEmailConfig": {
            "allowUnauthorizedCerts": false
          }
        }
      },
      "id": "imap-trigger",
      "name": "Watch GYG Emails",
      "type": "n8n-nodes-base.imapEmail",
      "typeVersion": 2,
      "position": [240, 400],
      "credentials": {
        "imap": {
          "id": "REPLACE_WITH_IMAP_CREDENTIAL_ID",
          "name": "GYG Email IMAP"
        }
      },
      "notes": "Configure IMAP credentials for the inbox that receives GetYourGuide emails. Sender: do-not-reply@notification.getyourguide.com. Handles 3 email types: new bookings ('Booking - S709718 - {REF}'), urgent bookings ('Urgent: New booking received - S709718 - {REF}'), and cancellations ('A booking has been canceled - S709718 - {REF}')."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "filter-gyg-from",
              "leftValue": "={{ $json.from }}",
              "rightValue": "getyourguide",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "filter-gyg-subject",
              "leftValue": "={{ $json.subject }}",
              "rightValue": " - S709718 - ",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-gyg-emails",
      "name": "Filter GYG Emails",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [460, 400],
      "notes": "Matches all 3 GYG email types by checking: (1) from contains 'getyourguide', (2) subject contains ' - S709718 - ' which is the supplier ID segment present in all booking, urgent booking, and cancellation subjects."
    },
    {
      "parameters": {
        "jsCode": "// Route by email type based on subject line\n//\n// Email types:\n//   1. New booking:    \"Booking - S709718 - GYG7VK4GF7MB\"\n//   2. Urgent booking: \"Urgent: New booking received - S709718 - GYG7VK4GF7MB\"\n//   3. Cancellation:   \"A booking has been canceled - S709718 - GYG7VK4GF7MB\"\n\nconst subject = ($json.subject || '').trim();\n\nlet emailType = 'unknown';\n\nif (subject.toLowerCase().includes('canceled')) {\n  emailType = 'cancellation';\n} else if (subject.startsWith('Booking -') || subject.startsWith('Urgent:')) {\n  emailType = 'new_booking';\n}\n\n// Extract reference code from subject (always the last segment after \" - \")\nconst subjectParts = subject.split(' - ');\nconst referenceCode = (subjectParts[subjectParts.length - 1] || '').trim();\n\nreturn {\n  json: {\n    ...($json),\n    email_type: emailType,\n    reference_code: referenceCode\n  }\n};"
      },
      "id": "route-by-type",
      "name": "Route by Type",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 400],
      "notes": "Determines email_type from the subject line: 'new_booking' for regular and urgent bookings, 'cancellation' for canceled bookings. Also extracts the reference_code from the last segment of the subject."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-new-booking",
              "leftValue": "={{ $json.email_type }}",
              "rightValue": "new_booking",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "branch-by-type",
      "name": "New Booking?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 400],
      "notes": "Branches the flow: TRUE output (index 0) = new_booking (regular or urgent), FALSE output (index 1) = cancellation. Both paths converge at the Import Summary node."
    },
    {
      "parameters": {
        "jsCode": "// Parse the GetYourGuide booking confirmation HTML email body\n// Handles both regular and urgent booking emails (same HTML body format).\n//\n// Subject formats:\n//   Regular: \"Booking - S709718 - GYG7VK4GF7MB\"\n//   Urgent:  \"Urgent: New booking received - S709718 - GYG7VK4GF7MB\"\n//\n// HTML body contains structured data with labels and <strong> values.\n//\n// Fields to extract:\n//   - reference_code (already extracted by Route by Type)\n//   - activity_name (from element with class containing \"activity-title\")\n//   - event_date / event_time (from \"Date\" label, e.g. \"February 20, 2026 7:00 PM\")\n//   - ticket_count (from \"Number of participants\", e.g. \"2 x Adults (Age 0 - 99)\")\n//   - customer_name -> first_name, last_name (from \"Main customer\" label)\n//   - customer_email (mailto: link near customer name)\n//   - customer_phone (\"Phone: +61478009744\")\n//   - gross_revenue (from \"Price\" label, e.g. \"A$ 70.00\")\n\nconst subject = $json.subject || '';\nconst html = $json.html || $json.textHtml || $json.body || '';\nconst referenceCode = $json.reference_code || '';\n\n// --- Activity name ---\nlet activityName = '';\nconst activityTitleMatch = html.match(/class\\s*=\\s*\"[^\"]*activity-title[^\"]*\"[^>]*>([^<]+)/i);\nif (activityTitleMatch) {\n  activityName = activityTitleMatch[1].trim();\n} else {\n  const fallbackMatch = html.match(/activity-title[^>]*>\\s*([^<]+)/i);\n  if (fallbackMatch) {\n    activityName = fallbackMatch[1].trim();\n  }\n}\n\n// --- Date and Time ---\nlet eventDate = '';\nlet eventTime = '';\nconst dateBlockMatch = html.match(/Date\\s*(?:<[^>]*>\\s*)*<strong>([^<]+)<\\/strong>/i);\nif (dateBlockMatch) {\n  const rawDate = dateBlockMatch[1].trim();\n\n  const months = {\n    'january': '01', 'february': '02', 'march': '03', 'april': '04',\n    'may': '05', 'june': '06', 'july': '07', 'august': '08',\n    'september': '09', 'october': '10', 'november': '11', 'december': '12'\n  };\n\n  // Try with time: \"February 20, 2026 7:00 PM\"\n  const withTimeMatch = rawDate.match(/^(\\w+)\\s+(\\d{1,2}),?\\s+(\\d{4})\\s+(\\d{1,2}:\\d{2})\\s*(AM|PM)$/i);\n  // Try without time: \"February 18, 2026\"\n  const noTimeMatch = rawDate.match(/^(\\w+)\\s+(\\d{1,2}),?\\s+(\\d{4})$/);\n\n  if (withTimeMatch) {\n    const monthName = withTimeMatch[1].toLowerCase();\n    const day = withTimeMatch[2].padStart(2, '0');\n    const year = withTimeMatch[3];\n    const month = months[monthName] || '01';\n    eventDate = `${year}-${month}-${day}`;\n\n    let hours = parseInt(withTimeMatch[4].split(':')[0], 10);\n    const minutes = withTimeMatch[4].split(':')[1];\n    const ampm = withTimeMatch[5].toUpperCase();\n    if (ampm === 'PM' && hours !== 12) hours += 12;\n    if (ampm === 'AM' && hours === 12) hours = 0;\n    eventTime = `${hours.toString().padStart(2, '0')}:${minutes}:00`;\n  } else if (noTimeMatch) {\n    const monthName = noTimeMatch[1].toLowerCase();\n    const day = noTimeMatch[2].padStart(2, '0');\n    const year = noTimeMatch[3];\n    const month = months[monthName] || '01';\n    eventDate = `${year}-${month}-${day}`;\n  }\n}\n\n// --- Number of participants ---\nlet ticketCount = 1;\nconst participantsMatch = html.match(/Number of participants\\s*(?:<[^>]*>\\s*)*(?:<[^>]*>)*(\\d+)\\s*x/i);\nif (participantsMatch) {\n  ticketCount = parseInt(participantsMatch[1], 10);\n} else {\n  const altMatch = html.match(/<strong>\\s*(\\d+)\\s*x\\s*<\\/strong>/i);\n  if (altMatch) {\n    ticketCount = parseInt(altMatch[1], 10);\n  }\n}\n\n// --- Customer name ---\nlet firstName = '';\nlet lastName = '';\nconst customerMatch = html.match(/Main customer\\s*(?:<[^>]*>\\s*)*([A-Z][a-zA-Z'-]+(?:\\s+[A-Z][a-zA-Z'-]+)+)/i);\nif (customerMatch) {\n  const fullName = customerMatch[1].trim();\n  const nameParts = fullName.split(/\\s+/);\n  firstName = nameParts[0] || '';\n  lastName = nameParts.slice(1).join(' ') || '';\n} else {\n  const altCustomerMatch = html.match(/Main customer\\s*(?:<[^>]*>\\s*)*<strong>([^<]+)<\\/strong>/i);\n  if (altCustomerMatch) {\n    const fullName = altCustomerMatch[1].trim();\n    const nameParts = fullName.split(/\\s+/);\n    firstName = nameParts[0] || '';\n    lastName = nameParts.slice(1).join(' ') || '';\n  }\n}\n\n// --- Customer email ---\nlet customerEmail = '';\nconst emailMatch = html.match(/mailto:([^\"'\\s>]+@[^\"'\\s>]+getyourguide[^\"'\\s>]*)/i);\nif (emailMatch) {\n  customerEmail = emailMatch[1].trim().toLowerCase();\n} else {\n  const altEmailMatch = html.match(/Main customer[\\s\\S]{0,500}?mailto:([^\"'\\s>]+)/i);\n  if (altEmailMatch) {\n    customerEmail = altEmailMatch[1].trim().toLowerCase();\n  }\n}\n\n// --- Customer phone ---\nlet customerPhone = '';\nconst phoneMatch = html.match(/Phone:\\s*([+\\d][\\d\\s-]+)/i);\nif (phoneMatch) {\n  customerPhone = phoneMatch[1].trim();\n}\n\n// --- Price / gross revenue ---\nlet grossRevenue = 0;\nconst priceMatch = html.match(/Price\\s*(?:<[^>]*>\\s*)*(?:[A-Z]{1,3}\\$?)\\s*([\\d,.]+)/i);\nif (priceMatch) {\n  grossRevenue = parseFloat(priceMatch[1].replace(/,/g, ''));\n} else {\n  const altPriceMatch = html.match(/A\\$\\s*([\\d,.]+)/i);\n  if (altPriceMatch) {\n    grossRevenue = parseFloat(altPriceMatch[1].replace(/,/g, ''));\n  }\n}\nif (isNaN(grossRevenue)) grossRevenue = 0;\n\nreturn {\n  json: {\n    reference_code: referenceCode,\n    activity_name: activityName,\n    event_date: eventDate,\n    event_time: eventTime,\n    ticket_count: isNaN(ticketCount) ? 1 : ticketCount,\n    first_name: firstName,\n    last_name: lastName,\n    customer_email: customerEmail,\n    customer_phone: customerPhone,\n    gross_revenue: grossRevenue,\n    source_email_subject: subject,\n    source_email_date: $json.date || ''\n  }\n};"
      },
      "id": "parse-gyg-email",
      "name": "Parse GYG Email Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1140, 260],
      "notes": "Parses the GetYourGuide new/urgent booking confirmation HTML email body using regex. Extracts activity name, date/time, participant count, customer details, and price. Reference code is passed through from the Route by Type node."
    },
    {
      "parameters": {
        "url": "=https://pdikjpfulhhpqpxzpgtu.supabase.co/rest/v1/rpc/match_event_session",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_event_name\": \"{{ $json.activity_name }}\",\n  \"p_event_date\": \"{{ $json.event_date }}\"\n}"
      },
      "id": "match-event-session",
      "name": "Match Event & Session",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1360, 260],
      "notes": "Calls the match_event_session RPC to find the matching event_id and session_id by activity name and date. Uses the same RPC function as the SFF and Promotix workflows."
    },
    {
      "parameters": {
        "jsCode": "// Merge the parsed GYG booking data with the matched event/session\nconst booking = $('Parse GYG Email Body').item.json;\nconst matchResult = $input.item.json;\n\n// The RPC returns an array - take the first match\nconst match = Array.isArray(matchResult) ? matchResult[0] : matchResult;\n\nif (!match || !match.event_id) {\n  return {\n    json: {\n      ...booking,\n      event_id: null,\n      session_id: null,\n      match_status: 'no_match',\n      match_message: `No event found matching: ${booking.activity_name} on ${booking.event_date}`\n    }\n  };\n}\n\nreturn {\n  json: {\n    ...booking,\n    event_id: match.event_id,\n    session_id: match.session_id || null,\n    match_status: 'matched',\n    match_message: `Matched to event: ${match.event_name || match.event_id}`\n  }\n};"
      },
      "id": "merge-match-data",
      "name": "Merge Match Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1580, 260]
    },
    {
      "parameters": {
        "url": "=https://pdikjpfulhhpqpxzpgtu.supabase.co/rest/v1/customers",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"email\": \"{{ $json.customer_email }}\",\n  \"first_name\": \"{{ $json.first_name }}\",\n  \"last_name\": \"{{ $json.last_name }}\",\n  \"phone\": \"{{ $json.customer_phone }}\",\n  \"source\": \"getyourguide\"\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "id": "upsert-customer",
      "name": "Upsert Customer to CRM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1800, 260],
      "notes": "Upserts the customer into the customers CRM table. Uses Prefer: resolution=merge-duplicates to match on the email unique constraint. Source set to 'getyourguide'. Also stores the GYG proxy email and phone number."
    },
    {
      "parameters": {
        "jsCode": "// Prepare the final payload for manual_ticket_entries\nconst booking = $('Merge Match Data').item.json;\nconst customerResult = $input.item.json;\n\n// Get customer_id from upsert result\nconst customer = Array.isArray(customerResult) ? customerResult[0] : customerResult;\nconst customerId = customer?.id || null;\n\n// GetYourGuide Partner ID\nconst GYG_PARTNER_ID = '237e9e0e-846c-4004-b883-1348264bd007';\n\n// Commission rate: 27%\nconst COMMISSION_RATE = 27;\n\nreturn {\n  json: {\n    event_id: booking.event_id,\n    session_id: booking.session_id,\n    partner_id: GYG_PARTNER_ID,\n    ticket_count: booking.ticket_count,\n    gross_revenue: booking.gross_revenue,\n    commission_rate: COMMISSION_RATE,\n    entry_date: booking.event_date || new Date().toISOString().split('T')[0],\n    first_name: booking.first_name,\n    last_name: booking.last_name,\n    email: booking.customer_email,\n    booking_reference: booking.reference_code,\n    customer_id: customerId,\n    source: 'n8n',\n    status: 'confirmed',\n    notes: `GYG import: ${booking.activity_name}`,\n    reference_id: booking.reference_code\n  }\n};"
      },
      "id": "prepare-ticket-entry",
      "name": "Prepare Ticket Entry",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2020, 260],
      "notes": "Builds the manual_ticket_entries insert payload. Sets partner_id for GetYourGuide, commission_rate at 27%, status to 'confirmed', and gross_revenue from the parsed price. Does NOT include commission_amount or net_revenue as those are generated columns in the database."
    },
    {
      "parameters": {
        "url": "https://pdikjpfulhhpqpxzpgtu.supabase.co/rest/v1/manual_ticket_entries",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "insert-ticket-entry",
      "name": "Insert Ticket Entry",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2240, 260],
      "notes": "Inserts the ticket entry with status 'confirmed'. The unique index on booking_reference will reject duplicates (409 Conflict), which is expected and handled by the summary node."
    },
    {
      "parameters": {
        "jsCode": "// Parse the GetYourGuide cancellation email body\n// Subject format: \"A booking has been canceled - S709718 - GYGMX4Q2LAZW\"\n//\n// The cancellation email has a simpler body with <strong> labels:\n//   <strong>Reference Number:</strong> GYGMX4Q2LAZW\n//   <strong>Name:</strong> Aaron Lee\n//   <strong>Date:</strong> February 14, 2026 7:00 PM\n//   <strong>Tour:</strong> Comedy Show - iD Comedy Club Sydney - Friday / Saturday\n\nconst subject = $json.subject || '';\nconst html = $json.html || $json.textHtml || $json.body || '';\nconst referenceCode = $json.reference_code || '';\n\n// --- Reference Number from body (as verification) ---\nlet bodyReference = '';\nconst refMatch = html.match(/<strong>\\s*Reference Number:\\s*<\\/strong>\\s*([A-Z0-9]+)/i);\nif (refMatch) {\n  bodyReference = refMatch[1].trim();\n}\n\n// --- Customer Name ---\nlet customerName = '';\nconst nameMatch = html.match(/<strong>\\s*Name:\\s*<\\/strong>\\s*([^<]+)/i);\nif (nameMatch) {\n  customerName = nameMatch[1].trim();\n}\n\n// --- Date ---\nlet cancelledEventDate = '';\nconst dateMatch = html.match(/<strong>\\s*Date:\\s*<\\/strong>\\s*([^<]+)/i);\nif (dateMatch) {\n  cancelledEventDate = dateMatch[1].trim();\n}\n\n// --- Tour ---\nlet tourName = '';\nconst tourMatch = html.match(/<strong>\\s*Tour:\\s*<\\/strong>\\s*([^<]+)/i);\nif (tourMatch) {\n  tourName = tourMatch[1].trim();\n}\n\n// Use the body reference if available, otherwise fall back to subject reference\nconst finalReference = bodyReference || referenceCode;\n\nreturn {\n  json: {\n    reference_code: finalReference,\n    customer_name: customerName,\n    cancelled_event_date: cancelledEventDate,\n    tour_name: tourName,\n    source_email_subject: subject,\n    source_email_date: $json.date || ''\n  }\n};"
      },
      "id": "parse-cancellation-email",
      "name": "Parse Cancellation Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1140, 560],
      "notes": "Parses the GYG cancellation email body. Extracts reference number, customer name, date, and tour name from simple <strong>Label:</strong> value patterns. The reference code is used to locate the existing booking entry for status update."
    },
    {
      "parameters": {
        "url": "=https://pdikjpfulhhpqpxzpgtu.supabase.co/rest/v1/manual_ticket_entries?booking_reference=eq.{{ $json.reference_code }}",
        "method": "PATCH",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"cancelled\",\n  \"cancelled_at\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "cancel-ticket-entry",
      "name": "Cancel Ticket Entry",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1360, 560],
      "notes": "PATCHes the existing manual_ticket_entries row matching the booking_reference. Sets status to 'cancelled' and cancelled_at to the current ISO timestamp. Returns the updated row for verification in the summary."
    },
    {
      "parameters": {
        "jsCode": "// Handle results from both new booking inserts and cancellation updates\n// This node receives items from both the Insert Ticket Entry and Cancel Ticket Entry paths.\nconst items = $input.all();\nlet inserted = 0;\nlet cancelled = 0;\nlet duplicates = 0;\nlet errors = 0;\nconst details = [];\n\nfor (const item of items) {\n  const statusCode = item.json.statusCode || item.json?.headers?.status;\n  const body = item.json.body || item.json;\n\n  if (statusCode === 201) {\n    // New booking inserted successfully\n    inserted++;\n    const entry = Array.isArray(body) ? body[0] : body;\n    details.push({ action: 'inserted', reference: entry?.booking_reference || 'unknown' });\n  } else if (statusCode === 200) {\n    // Cancellation PATCH successful (or other 200)\n    const entry = Array.isArray(body) ? body[0] : body;\n    if (entry?.status === 'cancelled') {\n      cancelled++;\n      details.push({ action: 'cancelled', reference: entry?.booking_reference || 'unknown' });\n    } else {\n      inserted++;\n      details.push({ action: 'updated', reference: entry?.booking_reference || 'unknown' });\n    }\n  } else if (statusCode === 409) {\n    duplicates++;\n    details.push({ action: 'duplicate_skipped', statusCode });\n  } else {\n    errors++;\n    details.push({ action: 'error', statusCode, body: JSON.stringify(body).substring(0, 200) });\n  }\n}\n\nreturn {\n  json: {\n    summary: 'GetYourGuide Import Complete',\n    inserted,\n    cancelled,\n    duplicates_skipped: duplicates,\n    errors,\n    total_processed: items.length,\n    details,\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "summary",
      "name": "Import Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2480, 400],
      "notes": "Aggregates results from both new booking and cancellation paths. Tracks inserted, cancelled, duplicate, and error counts with per-item details."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-errors",
              "leftValue": "={{ $json.errors }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-errors",
      "name": "Any Errors?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2700, 400]
    },
    {
      "parameters": {},
      "id": "success-end",
      "name": "Done",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [2920, 500]
    },
    {
      "parameters": {},
      "id": "error-end",
      "name": "Errors - Review Needed",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [2920, 300],
      "notes": "Add a Slack or email notification here to alert when GetYourGuide imports have errors."
    }
  ],
  "connections": {
    "Watch GYG Emails": {
      "main": [
        [
          {
            "node": "Filter GYG Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter GYG Emails": {
      "main": [
        [
          {
            "node": "Route by Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Type": {
      "main": [
        [
          {
            "node": "New Booking?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New Booking?": {
      "main": [
        [
          {
            "node": "Parse GYG Email Body",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse Cancellation Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse GYG Email Body": {
      "main": [
        [
          {
            "node": "Match Event & Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Match Event & Session": {
      "main": [
        [
          {
            "node": "Merge Match Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Match Data": {
      "main": [
        [
          {
            "node": "Upsert Customer to CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Customer to CRM": {
      "main": [
        [
          {
            "node": "Prepare Ticket Entry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Ticket Entry": {
      "main": [
        [
          {
            "node": "Insert Ticket Entry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Ticket Entry": {
      "main": [
        [
          {
            "node": "Import Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Cancellation Email": {
      "main": [
        [
          {
            "node": "Cancel Ticket Entry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cancel Ticket Entry": {
      "main": [
        [
          {
            "node": "Import Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Import Summary": {
      "main": [
        [
          {
            "node": "Any Errors?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Errors?": {
      "main": [
        [
          {
            "node": "Errors - Review Needed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "Australia/Sydney",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "name": "ticketing"
    },
    {
      "name": "getyourguide"
    },
    {
      "name": "email-import"
    }
  ],
  "triggerCount": 1,
  "versionId": "2"
}
