n8n-workflows/Humanitix_FINAL_Working_Sync.json
{
  "name": "Humanitix FINAL Working Sync",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [120, 240]
    },
    {
      "parameters": {
        "url": "https://api.humanitix.com/v1/events?page=1&pageSize=10",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "httpHeaderAuth": {
          "name": "X-API-Key",
          "value": "htx_ot4Ps1kNJIz8FhSfW7y8NKAVrC2AiZI8DQKs5Vvt"
        },
        "options": {}
      },
      "id": "http1",
      "name": "Get Humanitix Events",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [320, 240]
    },
    {
      "parameters": {
        "jsCode": "const events = $input.all()[0].json.events || [];\nconst results = [];\n\nfor (const event of events) {\n  results.push({\n    json: {\n      source: 'humanitix',\n      source_id: event._id,\n      name: event.name,\n      description: event.description,\n      start_date: event.startDate,\n      end_date: event.endDate,\n      timezone: event.timezone,\n      status: event.status,\n      location: event.location,\n      currency: event.currency,\n      raw: event\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "code1",
      "name": "Transform Events",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [520, 240]
    },
    {
      "parameters": {
        "url": "https://pdikjpfulhhpqpxzpgtu.supabase.co/rest/v1/events_htx",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "httpHeaderAuth": {
          "name": "apikey",
          "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBkaWtqcGZ1bGhocHFweHpwZ3R1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTczNTYxNTY3OCwiZXhwIjoyMDUxMTkxNjc4fQ.vqHJcZHjQO2d37qiJF2aYzOUj1mlBt5FlJ5U3bqe_bE"
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBkaWtqcGZ1bGhocHFweHpwZ3R1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTczNTYxNTY3OCwiZXhwIjoyMDUxMTkxNjc4fQ.vqHJcZHjQO2d37qiJF2aYzOUj1mlBt5FlJ5U3bqe_bE"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "http2",
      "name": "Upsert to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [720, 240]
    },
    {
      "parameters": {
        "url": "=https://api.humanitix.com/v1/events/{{ $('Transform Events').item.json.source_id }}/orders?page=1&pageSize=50",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "httpHeaderAuth": {
          "name": "X-API-Key",
          "value": "htx_ot4Ps1kNJIz8FhSfW7y8NKAVrC2AiZI8DQKs5Vvt"
        },
        "options": {}
      },
      "id": "http3",
      "name": "Get Orders",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [520, 400]
    },
    {
      "parameters": {
        "jsCode": "const orders = $input.all()[0].json.orders || [];\nconst eventId = $('Transform Events').item.json.source_id;\nconst results = [];\n\nfor (const order of orders) {\n  results.push({\n    json: {\n      source: 'humanitix',\n      source_id: order._id,\n      event_source_id: eventId,\n      session_source_id: order.eventDateId,\n      event_date_id: order.eventDateId,\n      status: order.status,\n      financial_status: order.financialStatus,\n      first_name: order.firstName,\n      last_name: order.lastName,\n      purchaser_email: order.email,\n      mobile: order.mobile,\n      currency: order.currency,\n      total_cents: order.totals?.total ? Math.round(order.totals.total * 100) : null,\n      taxes_cents: order.totals?.totalTaxes ? Math.round(order.totals.totalTaxes * 100) : null,\n      discount_cents: order.totals?.discounts ? Math.round(order.totals.discounts * 100) : null,\n      fees_cents: order.totals?.bookingFee ? Math.round(order.totals.bookingFee * 100) : null,\n      net_sales_cents: order.totals?.netSales ? Math.round(order.totals.netSales * 100) : null,\n      gross_sales_cents: order.totals?.grossSales ? Math.round(order.totals.grossSales * 100) : null,\n      humanitix_fee_cents: order.totals?.humanitixFee ? Math.round(order.totals.humanitixFee * 100) : null,\n      booking_fee_cents: order.totals?.bookingFee ? Math.round(order.totals.bookingFee * 100) : null,\n      created_at: order.createdAt,\n      updated_at: order.updatedAt,\n      raw: order\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "code2",
      "name": "Transform Orders",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 400]
    },
    {
      "parameters": {
        "url": "https://pdikjpfulhhpqpxzpgtu.supabase.co/rest/v1/orders_htx",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "httpHeaderAuth": {
          "name": "apikey",
          "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBkaWtqcGZ1bGhocHFweHpwZ3R1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTczNTYxNTY3OCwiZXhwIjoyMDUxMTkxNjc4fQ.vqHJcZHjQO2d37qiJF2aYzOUj1mlBt5FlJ5U3bqe_bE"
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBkaWtqcGZ1bGhocHFweHpwZ3R1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTczNTYxNTY3OCwiZXhwIjoyMDUxMTkxNjc4fQ.vqHJcZHjQO2d37qiJF2aYzOUj1mlBt5FlJ5U3bqe_bE"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "http4",
      "name": "Upsert Orders",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [920, 400]
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Get Humanitix Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Humanitix Events": {
      "main": [
        [
          {
            "node": "Transform Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Events": {
      "main": [
        [
          {
            "node": "Upsert to Supabase",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Orders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Orders": {
      "main": [
        [
          {
            "node": "Transform Orders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Orders": {
      "main": [
        [
          {
            "node": "Upsert Orders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "working-version",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "working-sync",
  "tags": []
}